#root {
  margin: 0;
  padding: 0;
  text-align: initial;
}

/* Hide scrollbar for card carousel */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
